.pending{
    background-color: rgb(111, 111, 218);
}

.dispatched{
    background-color: rgb(163, 183, 74);
}

.delivered{
    background-color: rgb(3, 95, 37);
    color: white;
}

.cancelled{
    background-color: rgb(101, 9, 9);
    color: white;
}